-i https://pypi.org/simple/
certifi==2020.12.5
chardet==3.0.4
django==2.2.20
djangorestframework==3.9.4
gunicorn==19.9.0
idna==2.8
psycopg2-binary==2.8.2
pytz==2021.1
requests==2.22.0
sqlparse==0.4.1
urllib3==1.25.11
